<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__row">
                <div class="header__burger">
                    <div class="burger">
                        <svg class="i-icon">
                            <use xlink:href="#icon-burger"></use>
                        </svg>
                    </div>
                    <div class="search-mobile">
                        <a href="#" class="search-mobile__link"></a>
                    </div>
                </div>
                <div class="header__logo">
                    <div class="logo">
                        <a href="/">
                            <img src="./images/logo.svg" alt="">
                            <span>Prestige<br>свет юг</span>
                        </a>
                    </div>
                </div>
                <div class="header__contacts">
                    <div class="city">
                        <a href="#" class="city__link">
                            <span class="city__label">Ваш город:</span>
                            <span class="city__select">
                                    <span>Краснодар</span>
                                    <svg class="i-icon">
                                        <use xlink:href="#icon-select"></use>
                                    </svg>
                                </span>
                        </a>
                    </div>
                    <div class="callback">
                        <div class="callback__phone">8 (918) 656-63-78</div>
                        <a href="#" class="callback__link">Заказать обратный звонок</a>
                    </div>
                </div>
                <div class="header__nav">
                    <div class="header__nav-top">
                        <div class="socials">
                            <div class="socials-list">
                                <div class="socials-list__item">
                                    <a href="#" class="socials-list__link">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-whatsapp"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="socials-list__item">
                                    <a href="#" class="socials-list__link">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-telegram"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="socials-list__item">
                                    <a href="#" class="socials-list__link">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-viber"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="search">
                            <input type="text" class="search__input" placeholder="Поиск по каталогу">
                            <input type="submit" class="search__submit">
                        </div>
                    </div>
                    <div class="header__nav-bottom">
                        <nav class="menu">
                            <ul class="menu-list">
                                <li class="menu-list__item">
                                    <a href="#" class="menu-list__link">О компании</a>
                                </li>
                                <li class="menu-list__item">
                                    <a href="#" class="menu-list__link">Доставка и оплата</a>
                                </li>
                                <li class="menu-list__item">
                                    <a href="#" class="menu-list__link">Оснащение ресторанов и офисов</a>
                                </li>
                                <li class="menu-list__item">
                                    <a href="#" class="menu-list__link">Дизайнерам</a>
                                </li>
                                <li class="menu-list__item">
                                    <a href="#" class="menu-list__link">Контакты</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="header__user">
                    <div class="header__user-top">
                        <div class="login">
                            <a href="#" class="login__link">Войти</a>
                        </div>
                    </div>
                    <div class="header__user-bottom">
                        <div class="basket">
                            <div class="basket-list">
                                <div class="basket-list__item">
                                    <a href="#" class="basket-list__link">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-liked"></use>
                                        </svg>
                                        <span class="basket-list__value">0</span>
                                    </a>
                                </div>
                                <div class="basket-list__item">
                                    <a href="#" class="basket-list__link">
                                        <svg class="i-icon">
                                            <use xlink:href="#icon-basket"></use>
                                        </svg>
                                        <span class="basket-list__value">0</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__row">
                <div class="catalog" data-catalog>
                    <ul class="catalog-list" data-catalog-list>
                        <li class="catalog-list__item" data-catalog-item>
                            <a href="#" class="catalog-list__link">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-sale"></use>
                                </svg>
                                <span>Распродажа</span>
                            </a>
                        </li>
                        <li class="catalog-list__item" data-catalog-item>
                            <a href="#" class="catalog-list__link">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-brands"></use>
                                </svg>
                                <span>Бренды</span>
                            </a>
                        </li>
                        <li class="catalog-list__item" data-catalog-item>
                            <a href="#" class="catalog-list__link">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-chandeliers"></use>
                                </svg>
                                <span>Люстры</span>
                            </a>
                        </li>
                        <li class="catalog-list__item" data-catalog-item>
                            <a href="#" class="catalog-list__link">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-fixtures"></use>
                                </svg>
                                <span>Светильники</span>
                            </a>
                        </li>
                        <li class="catalog-list__item" data-catalog-item>
                            <a href="#" class="catalog-list__link">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-sconces"></use>
                                </svg>
                                <span>Бра</span>
                            </a>
                        </li>
                        <li class="catalog-list__item" data-catalog-item>
                            <a href="#" class="catalog-list__link">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-torchere"></use>
                                </svg>
                                <span>Торшеры</span>
                            </a>
                        </li>
                        <li class="catalog-list__item" data-catalog-item>
                            <a href="#" class="catalog-list__link">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-lamp"></use>
                                </svg>
                                <span>Лампы</span>
                            </a>
                        </li>
                        <li class="catalog-list__item" data-catalog-item>
                            <a href="#" class="catalog-list__link">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-interior"></use>
                                </svg>
                                <span>Интерьерные</span>
                            </a>
                        </li>
                        <li class="catalog-list__item" data-catalog-item>
                            <a href="#" class="catalog-list__link">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-clock"></use>
                                </svg>
                                <span>Часы</span>
                            </a>
                        </li>
                        <li class="catalog-list__item" data-catalog-toggle>
                            <a href="#" class="catalog-list__link">
                                <svg class="i-icon">
                                    <use xlink:href="#icon-still"></use>
                                </svg>
                                <span>+ еще 7</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>