.menu {
    @media (--tablet-below) {
        display: none;
    }
}
.menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0;
}
.menu-list__item {
    margin: 0;
    margin-right: 12px;
    padding: 0;

    &:last-child {
        margin-right: 0;
    }

    &:before {
        content: none;
    }
}
.menu-list__link {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    color: var(--c-black);

    &:active {
        color: var(--c-black);
    }
}